:root {
    --app-layout-background-color: #fafafa;
    --app-layout-font-size: 16px;
    --app-layout-unit-size: 37px;
    --app-layout-border-radius: 4px;
    --app-layout-focus-color: #4285f4;
    --app-layout-bar-height: 64px;
    --app-layout-bar-background-color: #4285f4;
    --app-layout-bar-font-color: #fff;
    --app-layout-bar-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5);
    --app-layout-bar-z-index: 10;
    --app-layout-drawer-shadow: 2px 2px 20px rgba(0, 0, 0, 0.3);
    --app-layout-drawer-background-color: white;
    --app-layout-drawer-submenu-indention: 0px;
    --app-layout-drawer-submenu-small-indention: 0px;
    --app-layout-drawer-submenu-background-color: rgba(0, 0, 0, 0.05);
    --app-layout-drawer-font-color: #000;
    --app-layout-drawer-persistent-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.15);
    --app-layout-drawer-width: 256px;
    --app-layout-drawer-small-width: 64px;
    --app-layout-menu-button-active-background-color: rgba(0, 0, 0, 0.1);
    --app-layout-menu-button-active-font-color: #4285f4;
    --app-layout-menu-button-badge-background-color: #4285f4;
    --app-layout-menu-button-badge-font-color: #fff;
    --app-layout-menu-button-badge-border-radius: 5px;
    --app-layout-menu-button-horizontal-padding: 16px;
    --app-layout-menu-button-height: 48px;
    --app-layout-menu-button-spacing: 12px;
    --app-layout-menu-section-padding: 37px;
    --app-layout-menu-submenu-max-height: 999px;
}

/**
 * Flexbox for Vaadin
 */
@media only screen and (min-width: 641px) {
    .app-layout-behaviour-left-responsive-hybrid app-header app-toolbar paper-icon-button#toggle, .app-layout-behaviour-left-responsive-hybrid app-header-layout app-toolbar paper-icon-button#toggle {
        display: none;
    }

    .app-layout-behaviour-left-responsive-hybrid .app-bar-content {
        left: 10px !important;
    }
}
@media only screen and (min-width: 641px) and (max-width: 1024px) {
    .app-layout-behaviour-left-responsive-hybrid {
        --app-drawer-width: var(--app-layout-drawer-small-width) !important;
    }

    .app-layout-behaviour-left-responsive-hybrid app-drawer[persistent].app-drawer-1 {
        width: var(--app-layout-drawer-small-width) !important;
    }

    .app-layout-behaviour-left-responsive-hybrid .app-bar-application-content {
        left: var(--app-layout-drawer-small-width) !important;
    }

    .app-layout-behaviour-left-responsive-hybrid .app-layout-menu-button-badge {
        background: var(--app-layout-menu-button-badge-background-color);
        color: transparent !important;
        height: 5px !important;
        width: 5px;
        border-radius: 100% !important;
        padding: 0 !important;
    }

    .app-layout-behaviour-left-responsive-hybrid .app-layout-menu-button span.v-button-caption {
        opacity: 0;
    }

    .app-layout-behaviour-left-responsive-hybrid .app-layout-menu-bar-element {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }

    .app-layout-behaviour-left-responsive-hybrid .app-layout-menu-bar-element .app-layout-round-image {
        width: var(--app-layout-drawer-small-width) !important;
        height: var(--app-layout-drawer-small-width) !important;
        padding: 7px;
    }

    .app-layout-behaviour-left-responsive-hybrid .app-layout-menu-bar-element .app-layout-menu-header-title {
        display: none;
    }

    .app-layout-behaviour-left-responsive-hybrid .app-layout-menu-bar-element .app-layout-menu-header-title {
        display: none;
    }

    .app-layout-behaviour-left-responsive-hybrid .app-layout-menu-button {
        font-size: 20px;
    }

    .app-layout-behaviour-left-responsive-hybrid .app-layout-menu-button .v-icon {
        width: 100%;
        text-align: center;
    }

    .app-layout-behaviour-left-responsive-hybrid .app-layout-menu-button .v-button-caption {
        display: none;
    }

    .app-layout-behaviour-left-responsive-hybrid .app-layout-expanding-menu-container-button:after {
        opacity: 0 !important;
    }

    .app-layout-behaviour-left-responsive-hybrid .app-bar-application-content {
        margin-bottom: -var(--app-layout-bar-height) !important;
        padding-bottom: var(--app-layout-bar-height) !important;
        margin-right: -var(--app-layout-bar-height) !important;
        padding-right: var(--app-layout-bar-height) !important;
    }

    .app-layout-behaviour-left-responsive-hybrid .app-layout-submenu-container {
        padding-left: var(--app-layout-drawer-submenu-small-indention) !important;
    }

    .app-layout-behaviour-left-responsive-hybrid .app-drawer-layout-1 app-drawer[opened] .drawer-content {
        width: var(--app-layout-drawer-small-width) !important;
    }

    .app-layout-behaviour-left-responsive-hybrid .app-layout-menu-badge-button {
        padding: 0px 16px !important;
    }

    .app-layout-behaviour-left-responsive-hybrid .app-layout-menu-button-badge {
        margin-left: -20px !important;
    }
}
@media only screen and (min-width: 641px) {
    .app-layout-behaviour-left-responsive-hybrid-no-app-bar app-header app-toolbar {
        display: none !important;
    }

    .app-layout-behaviour-left-responsive-hybrid-no-app-bar .app-bar-application-content {
        margin-bottom: 0px !important;
        padding-bottom: 0px !important;
    }
}
@media only screen and (max-width: 640px) {
    .app-layout-behaviour-left-responsive-hybrid-no-app-bar .drawer-content {
        margin-top: var(--app-layout-bar-height);
        box-sizing: border-box;
        height: 100%;
        margin-bottom: -var(--app-layout-bar-height);
        padding-bottom: var(--app-layout-bar-height);
    }
}
@media only screen and (min-width: 641px) and (max-width: 1024px) {
    .app-layout-behaviour-left-responsive-hybrid-no-app-bar {
        --app-drawer-width: var(--app-layout-drawer-small-width) !important;
    }

    .app-layout-behaviour-left-responsive-hybrid-no-app-bar app-drawer[persistent].app-drawer-1 {
        width: var(--app-layout-drawer-small-width) !important;
    }

    .app-layout-behaviour-left-responsive-hybrid-no-app-bar .app-bar-application-content {
        left: var(--app-layout-drawer-small-width) !important;
    }

    .app-layout-behaviour-left-responsive-hybrid-no-app-bar .app-layout-menu-button-badge {
        background: var(--app-layout-menu-button-badge-background-color);
        color: transparent !important;
        height: 5px !important;
        width: 5px;
        border-radius: 100% !important;
        padding: 0 !important;
    }

    .app-layout-behaviour-left-responsive-hybrid-no-app-bar .app-layout-menu-button span.v-button-caption {
        opacity: 0;
    }

    .app-layout-behaviour-left-responsive-hybrid-no-app-bar .app-layout-menu-bar-element {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }

    .app-layout-behaviour-left-responsive-hybrid-no-app-bar .app-layout-menu-bar-element .app-layout-round-image {
        width: var(--app-layout-drawer-small-width) !important;
        height: var(--app-layout-drawer-small-width) !important;
        padding: 7px;
    }

    .app-layout-behaviour-left-responsive-hybrid-no-app-bar .app-layout-menu-bar-element .app-layout-menu-header-title {
        display: none;
    }

    .app-layout-behaviour-left-responsive-hybrid-no-app-bar .app-layout-menu-bar-element .app-layout-menu-header-title {
        display: none;
    }

    .app-layout-behaviour-left-responsive-hybrid-no-app-bar .app-layout-menu-button {
        font-size: 20px;
    }

    .app-layout-behaviour-left-responsive-hybrid-no-app-bar .app-layout-menu-button .v-icon {
        width: 100%;
        text-align: center;
    }

    .app-layout-behaviour-left-responsive-hybrid-no-app-bar .app-layout-menu-button .v-button-caption {
        display: none;
    }

    .app-layout-behaviour-left-responsive-hybrid-no-app-bar .app-layout-expanding-menu-container-button:after {
        opacity: 0 !important;
    }

    .app-layout-behaviour-left-responsive-hybrid-no-app-bar .app-bar-application-content {
        margin-bottom: 0px !important;
        padding-bottom: 0px !important;
        margin-right: -var(--app-layout-drawer-small-width) !important;
        padding-right: var(--app-layout-drawer-small-width) !important;
    }

    .app-layout-behaviour-left-responsive-hybrid-no-app-bar .app-layout-submenu-container {
        padding-left: var(--app-layout-drawer-submenu-small-indention) !important;
    }

    .app-layout-behaviour-left-responsive-hybrid-no-app-bar .app-drawer-layout-1 app-drawer[opened] .drawer-content {
        width: var(--app-layout-drawer-small-width) !important;
    }

    .app-layout-behaviour-left-responsive-hybrid-no-app-bar .app-layout-menu-badge-button {
        padding: 0px 16px !important;
    }

    .app-layout-behaviour-left-responsive-hybrid-no-app-bar .app-layout-menu-button-badge {
        margin-left: -20px !important;
    }
}
@media only screen and (min-width: 641px) {
    .app-layout-behaviour-left-responsive-hybrid-overlay-no-app-bar app-toolbar {
        display: none !important;
    }

    .app-layout-behaviour-left-responsive-hybrid-overlay-no-app-bar .app-bar-application-content {
        margin-bottom: 0px !important;
        padding-bottom: 0px !important;
        margin-right: -var(--app-layout-drawer-width) !important;
        padding-right: var(--app-layout-drawer-width) !important;
    }
}
@media only screen and (min-width: 641px) and (max-width: 1024px) {
    .app-layout-behaviour-left-responsive-hybrid-overlay-no-app-bar {
        --app-drawer-width: var(--app-layout-drawer-small-width) !important;
    }

    .app-layout-behaviour-left-responsive-hybrid-overlay-no-app-bar app-drawer[persistent].app-drawer-1 {
        width: var(--app-layout-drawer-small-width) !important;
    }

    .app-layout-behaviour-left-responsive-hybrid-overlay-no-app-bar .app-bar-application-content {
        left: var(--app-layout-drawer-small-width) !important;
    }

    .app-layout-behaviour-left-responsive-hybrid-overlay-no-app-bar .app-layout-menu-button-badge {
        background: var(--app-layout-menu-button-badge-background-color);
        color: transparent !important;
        height: 5px !important;
        width: 5px;
        border-radius: 100% !important;
        padding: 0 !important;
    }

    .app-layout-behaviour-left-responsive-hybrid-overlay-no-app-bar .app-layout-menu-button span.v-button-caption {
        opacity: 0;
    }

    .app-layout-behaviour-left-responsive-hybrid-overlay-no-app-bar .app-layout-menu-bar-element {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }

    .app-layout-behaviour-left-responsive-hybrid-overlay-no-app-bar .app-layout-menu-bar-element .app-layout-round-image {
        width: var(--app-layout-drawer-small-width) !important;
        height: var(--app-layout-drawer-small-width) !important;
        padding: 7px;
    }

    .app-layout-behaviour-left-responsive-hybrid-overlay-no-app-bar .app-layout-menu-bar-element .app-layout-menu-header-title {
        display: none;
    }

    .app-layout-behaviour-left-responsive-hybrid-overlay-no-app-bar .app-layout-menu-bar-element .app-layout-menu-header-title {
        display: none;
    }

    .app-layout-behaviour-left-responsive-hybrid-overlay-no-app-bar .app-layout-menu-button {
        font-size: 20px;
    }

    .app-layout-behaviour-left-responsive-hybrid-overlay-no-app-bar .app-layout-menu-button .v-icon {
        width: 100%;
        text-align: center;
    }

    .app-layout-behaviour-left-responsive-hybrid-overlay-no-app-bar .app-layout-menu-button .v-button-caption {
        display: none;
    }

    .app-layout-behaviour-left-responsive-hybrid-overlay-no-app-bar .app-layout-expanding-menu-container-button:after {
        opacity: 0 !important;
    }

    .app-layout-behaviour-left-responsive-hybrid-overlay-no-app-bar .app-bar-application-content {
        margin-bottom: 0px !important;
        padding-bottom: 0px !important;
        margin-right: -var(--app-layout-drawer-small-width) !important;
        padding-right: var(--app-layout-drawer-small-width) !important;
    }

    .app-layout-behaviour-left-responsive-hybrid-overlay-no-app-bar .app-layout-submenu-container {
        padding-left: var(--app-layout-drawer-submenu-small-indention) !important;
    }

    .app-layout-behaviour-left-responsive-hybrid-overlay-no-app-bar .app-drawer-layout-1 app-drawer[opened] .drawer-content {
        width: var(--app-layout-drawer-small-width) !important;
    }

    .app-layout-behaviour-left-responsive-hybrid-overlay-no-app-bar .app-layout-menu-badge-button {
        padding: 0px 16px !important;
    }

    .app-layout-behaviour-left-responsive-hybrid-overlay-no-app-bar .app-layout-menu-button-badge {
        margin-left: -20px !important;
    }
}
@media only screen and (max-width: 640px) {
    .app-layout-behaviour-left-responsive-overlay .drawer-content {
        margin-top: 0px !important;
    }
}
@media only screen and (min-width: 641px) {
    .app-layout-behaviour-left-responsive-overlay .app-bar-application-content {
        margin-bottom: -var(--app-layout-bar-height) !important;
        padding-bottom: var(--app-layout-bar-height) !important;
        margin-right: -var(--app-layout-drawer-width) !important;
        padding-right: var(--app-layout-drawer-width) !important;
    }
}
@media only screen and (max-width: 640px) {
    .app-layout-behaviour-left-responsive-overlay-no-app-bar .app-bar-application-content {
        margin-bottom: -var(--app-layout-bar-height) !important;
        padding-bottom: var(--app-layout-bar-height) !important;
        margin-right: 0px !important;
        padding-right: 0px !important;
    }
}
@media only screen and (min-width: 641px) {
    .app-layout-behaviour-left-responsive-overlay-no-app-bar .app-bar-application-content {
        margin-bottom: 0px !important;
        padding-bottom: 0px !important;
        margin-right: -var(--app-layout-drawer-width) !important;
        padding-right: var(--app-layout-drawer-width) !important;
    }
}
@media only screen and (min-width: 641px) {
    .app-layout-behaviour-left-responsive-small {
        --app-drawer-width: var(--app-layout-drawer-small-width) !important;
    }

    .app-layout-behaviour-left-responsive-small app-drawer[persistent].app-drawer-1 {
        width: var(--app-layout-drawer-small-width) !important;
    }

    .app-layout-behaviour-left-responsive-small .app-bar-application-content {
        left: var(--app-layout-drawer-small-width) !important;
    }

    .app-layout-behaviour-left-responsive-small app-header app-toolbar paper-icon-button#toggle {
        display: none;
    }

    .app-layout-behaviour-left-responsive-small .app-bar-content {
        left: 10px !important;
    }

    .app-layout-behaviour-left-responsive-small .app-layout-menu-button-badge {
        background: var(--app-layout-menu-button-badge-background-color);
        color: transparent !important;
        height: 5px !important;
        width: 5px;
        border-radius: 100% !important;
        padding: 0 !important;
    }

    .app-layout-behaviour-left-responsive-small .app-layout-menu-button span.v-button-caption {
        opacity: 0;
    }

    .app-layout-behaviour-left-responsive-small .app-layout-menu-bar-element {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }

    .app-layout-behaviour-left-responsive-small .app-layout-menu-bar-element .app-layout-round-image {
        width: var(--app-layout-drawer-small-width) !important;
        height: var(--app-layout-drawer-small-width) !important;
        padding: 7px;
    }

    .app-layout-behaviour-left-responsive-small .app-layout-menu-bar-element .app-layout-menu-header-title {
        display: none;
    }

    .app-layout-behaviour-left-responsive-small .app-layout-menu-bar-element .app-layout-menu-header-title {
        display: none;
    }

    .app-layout-behaviour-left-responsive-small .app-layout-menu-button {
        font-size: 20px;
    }

    .app-layout-behaviour-left-responsive-small .app-layout-menu-button .v-icon {
        width: 100%;
        text-align: center;
    }

    .app-layout-behaviour-left-responsive-small .app-layout-menu-button .v-button-caption {
        display: none;
    }

    .app-layout-behaviour-left-responsive-small .app-layout-expanding-menu-container-button:after {
        opacity: 0 !important;
    }

    .app-layout-behaviour-left-responsive-small .app-bar-application-content {
        margin-bottom: -var(--app-layout-bar-height) !important;
        padding-bottom: var(--app-layout-bar-height) !important;
        margin-right: -var(--app-layout-drawer-small-width) !important;
        padding-right: var(--app-layout-drawer-small-width) !important;
    }

    .app-layout-behaviour-left-responsive-small .app-drawer-layout-1 app-drawer[opened] .drawer-content {
        width: var(--app-layout-drawer-small-width) !important;
    }

    .app-layout-behaviour-left-responsive-small .app-layout-menu-badge-button {
        padding: 0px 16px !important;
    }

    .app-layout-behaviour-left-responsive-small .app-layout-menu-button-badge {
        margin-left: -20px !important;
    }
}
@media only screen and (min-width: 641px) {
    .app-layout-behaviour-left-responsive-small-no-app-bar {
        --app-drawer-width: --app-layout-drawer-small-width !important;
    }

    .app-layout-behaviour-left-responsive-small-no-app-bar app-drawer[persistent].app-drawer-1 {
        width: var(--app-layout-drawer-small-width) !important;
    }

    .app-layout-behaviour-left-responsive-small-no-app-bar .app-bar-application-content {
        left: var(--app-layout-drawer-small-width) !important;
    }

    .app-layout-behaviour-left-responsive-small-no-app-bar app-header app-toolbar {
        display: none !important;
    }

    .app-layout-behaviour-left-responsive-small-no-app-bar .app-bar-application-content {
        margin-bottom: 0px !important;
        padding-bottom: 0px !important;
        margin-right: -var(--app-layout-drawer-small-width) !important;
        padding-right: var(--app-layout-drawer-small-width) !important;
    }

    .app-layout-behaviour-left-responsive-small-no-app-bar .app-layout-menu-button-badge {
        background: var(--app-layout-menu-button-badge-background-color);
        color: transparent !important;
        height: 5px !important;
        width: 5px;
        border-radius: 100% !important;
        padding: 0 !important;
    }

    .app-layout-behaviour-left-responsive-small-no-app-bar .app-layout-menu-button span.v-button-caption {
        opacity: 0;
    }

    .app-layout-behaviour-left-responsive-small-no-app-bar .app-layout-menu-bar-element {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }

    .app-layout-behaviour-left-responsive-small-no-app-bar .app-layout-menu-bar-element .app-layout-round-image {
        width: var(--app-layout-drawer-small-width) !important;
        height: var(--app-layout-drawer-small-width) !important;
        padding: 7px;
    }

    .app-layout-behaviour-left-responsive-small-no-app-bar .app-layout-menu-bar-element .app-layout-menu-header-title {
        display: none;
    }

    .app-layout-behaviour-left-responsive-small-no-app-bar .app-layout-menu-bar-element .app-layout-menu-header-title {
        display: none;
    }

    .app-layout-behaviour-left-responsive-small-no-app-bar .app-layout-menu-button {
        font-size: 20px;
    }

    .app-layout-behaviour-left-responsive-small-no-app-bar .app-layout-menu-button .v-icon {
        width: 100%;
        text-align: center;
    }

    .app-layout-behaviour-left-responsive-small-no-app-bar .app-layout-menu-button .v-button-caption {
        display: none;
    }

    .app-layout-behaviour-left-responsive-small-no-app-bar .app-layout-expanding-menu-container-button:after {
        opacity: 0 !important;
    }

    .app-layout-behaviour-left-responsive-small-no-app-bar .drawer-content {
        margin-top: 0px !important;
        margin-bottom: 0px !important;
        padding-bottom: 0px !important;
    }

    .app-layout-behaviour-left-responsive-small-no-app-bar .app-drawer-layout-1 app-drawer[opened] .drawer-content {
        width: var(--app-layout-drawer-small-width) !important;
    }

    .app-layout-behaviour-left-responsive-small-no-app-bar .app-layout-menu-badge-button {
        padding: 0px 16px !important;
    }

    .app-layout-behaviour-left-responsive-small-no-app-bar .app-layout-menu-button-badge {
        margin-left: -20px !important;
    }
}
@media only screen and (min-width: 641px) {
    .app-layout-behaviour-top app-toolbar paper-icon-button#toggle {
        opacity: 0;
        pointer-events: none;
    }

    .app-layout-behaviour-top .app-bar-content {
        left: 10px !important;
    }

    .app-layout-behaviour-top app-drawer {
        display: none;
    }

    .app-layout-behaviour-top .app-layout-bar-menu-holder {
        display: flex !important;
    }
}
@media only screen and (min-width: 641px) {
    .app-layout-behaviour-top-large {
        --app-bar-height: calc(var(--app-layout-bar-height) * 2) !important;
    }

    .app-layout-behaviour-top-large app-toolbar paper-icon-button#toggle {
        opacity: 0;
        pointer-events: none;
    }

    .app-layout-behaviour-top-large .app-bar-content {
        left: 10px !important;
    }

    .app-layout-behaviour-top-large .app-bar-menu-content {
        left: var(--app-layout-bar-height);
        position: absolute;
        top: var(--app-layout-bar-height) !important;
        right: 0px;
        bottom: 0px;
    }

    .app-layout-behaviour-top-large app-drawer {
        display: none;
    }

    .app-layout-behaviour-top-large .app-bar-menu-content {
        opacity: 1 !important;
        pointer-events: auto !important;
    }

    .app-layout-behaviour-top-large .app-bar-application-content {
        box-sizing: border-box;
        height: 100vh;
        margin-bottom: calc(calc(var(--app-layout-bar-height) * 2) * -1) !important;
        padding-bottom: calc(var(--app-layout-bar-height) * 2) !important;
    }

    .app-layout-behaviour-top-large .app-toolbar-1 {
        height: calc(var(--app-layout-bar-height) * 2);
    }
}

/*# sourceMappingURL=app-layout.css.map */
