@function brightness($c) {
  $rlin: (red($c)/255);
  $glin: (green($c)/255);
  $blin: (blue($c)/255);
  @return (0.2126 * $rlin + 0.7152 * $glin + 0.0722 * $blin) * 100;
}

@function color-contrast($color, $dark: #000, $light: #fff) {
  @if $color == null {
    @return null;
  } @else {
    $color-brightness: brightness($color);
    $light-text-brightness: brightness($light);
    $dark-text-brightness: brightness($dark);

    @return if(abs($color-brightness - $light-text-brightness) > abs($color-brightness - $dark-text-brightness), $light, $dark);
  }
}

@function bg-opacity($color, $opacity) {
  @return rgba($color, $opacity);
}


$al-background-color: #fafafa !default;
$al-font-size: 16px !default;
$al-unit-size: round(2.3 * $al-font-size) !default;
$al-border-radius: 4px !default;
$al-focus-color: #4285f4 !default;

$al-bar-height: 64px !default;
$al-bar-background-color: #4285f4 !default;
$al-bar-font-color: color-contrast($al-bar-background-color) !default;
$al-bar-shadow: var(--shadow-elevation-4dp_-_box-shadow) !default;
$al-bar-z-index: 10 !default;

$al-drawer-shadow: var(--shadow-elevation-3dp_-_box-shadow) !default;
$al-drawer-background-color: lighten($al-background-color, 5%) !default;

$al-drawer-submenu-indention: 0px !default;
$al-drawer-submenu-small-indention: 0px !default;
$al-drawer-submenu-background-color: rgba(color-contrast($al-drawer-background-color), 0.05) !default;
$al-drawer-font-color: color-contrast($al-drawer-background-color) !default;
$al-drawer-persistent-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.15) !default;
$al-drawer-width: 256px !default;
$al-drawer-small-width: 64px !default;

$al-menu-button-active-background-color: rgba(color-contrast($al-drawer-background-color), 0.1) !default; // only used by material design
$al-menu-button-active-font-color: $al-focus-color !default; // only used by material design
$al-menu-button-badge-background-color: #ffffff !default;
$al-menu-button-badge-font-color: $al-focus-color !default;
$al-menu-button-badge-border-radius: 5px !default;

$al-menu-button-horizontal-padding: round($al-unit-size/2.4) + round($al-border-radius/3) !default;
$al-menu-button-height: 48px !default;
$al-menu-button-spacing: round($al-unit-size/3) !default;

$al-menu-section-padding: round($al-unit-size) !default;

$al-menu-disable-active-style: false !default;
$al-menu-submenu-max-height: 999px !default;

:root {
  --app-layout-background-color: #{$al-background-color};
  --app-layout-font-size: #{$al-font-size};
  --app-layout-unit-size: #{$al-unit-size};
  --app-layout-border-radius: #{$al-border-radius};
  --app-layout-focus-color: #{$al-focus-color};
  --app-layout-focus-contrast-color: #{color-contrast($al-focus-color)};

  --app-layout-bar-height: #{$al-bar-height};
  --app-layout-bar-background-color: #{$al-bar-background-color};
  --app-layout-bar-font-color: #{$al-bar-font-color};
  --app-layout-bar-shadow: #{$al-bar-shadow};
  --app-layout-bar-z-index: #{$al-bar-z-index};

  --app-layout-drawer-shadow: #{$al-drawer-shadow};
  --app-layout-drawer-background-color: #{$al-drawer-background-color};

  --app-layout-drawer-submenu-indention: #{$al-drawer-submenu-indention};
  --app-layout-drawer-submenu-small-indention: #{$al-drawer-submenu-small-indention};
  --app-layout-drawer-submenu-background-color: #{$al-drawer-submenu-background-color};
  --app-layout-drawer-font-color: #{$al-drawer-font-color};
  --app-layout-drawer-persistent-shadow: #{$al-drawer-persistent-shadow};
  --app-layout-drawer-width: #{$al-drawer-width};
  --app-layout-drawer-small-width: #{$al-drawer-small-width};

  --app-layout-menu-button-active-background-color: #{$al-menu-button-active-background-color}; // only used by material design
  --app-layout-menu-button-active-font-color: #{$al-menu-button-active-font-color}; // only used by material design
  --app-layout-menu-button-badge-background-color: #{$al-menu-button-badge-background-color};
  --app-layout-menu-button-badge-font-color: #{$al-menu-button-badge-font-color};
  --app-layout-menu-button-badge-border-radius: #{$al-menu-button-badge-border-radius};

  --app-layout-menu-button-horizontal-padding: #{$al-menu-button-horizontal-padding};
  --app-layout-menu-button-height: #{$al-menu-button-height};
  --app-layout-menu-button-spacing: #{$al-menu-button-spacing};

  --app-layout-menu-section-padding: #{$al-menu-section-padding};

  --app-layout-menu-submenu-max-height: #{$al-menu-submenu-max-height};
  --app-bar-height: var(--app-layout-bar-height);
  --paper-drawer-title-background-color: #{$al-background-color};
  --paper-drawer-title-color: #{color-contrast($al-background-color)};

  --primary-color:#{$al-focus-color};
  --app-menu-background-color: #{$al-background-color};
  --app-menu-selected-bg-color: #{bg-opacity($al-focus-color, .1)};
  --app-menu-color: #727272;


  --app-layout-badge-width: 25px;
  --app-layout-badge-height: 25px;
  --app-layout-badge-top: 0px;
  --app-layout-badge-right: 0px;
  --app-layout-badge-color: var(--app-layout-bar-font-color);
  --app-layout-badge-small-width: 5px;
  --app-layout-badge-small-height: 5px;
  --app-layout-badge-small-top: -12px;
  --app-layout-badge-small-right: -4px;
}