*.iml
.idea
*.scss.cache
/.designer/
.settings
.classpath
.project
**/target/
/app-layout-ui-tests/build/
/app-layout-ui-tests/selenium/
**/bower_components/
**/webpack.config.js
**/webpack.generated.js
