*.iml
.idea
*.css
*.scss.cache
/.designer/
/app-layout-addon/src/main/webapp/VAADIN/frontend/es5/
/app-layout-addon/src/main/webapp/VAADIN/frontend/es6/
/app-layout-demo/build-tools/node/
/app-layout-demo/build-tools/node_modules/
/app-layout-demo/src/main/webapp/VAADIN/frontend/bower_components/
/app-layout-demo/src/main/webapp/VAADIN/frontend/build/
/app-layout-demo/src/main/webapp/VAADIN/frontend/es5/
/app-layout-demo/src/main/webapp/VAADIN/frontend/es6/
/app-layout-addon/target/
/app-layout-examples/app-layout-annotation-example/basic/target/
/app-layout-examples/app-layout-annotation-example/spring-cdi/target/
/app-layout-examples/app-layout-annotation-example/without-navigator/target/
/app-layout-examples/app-layout-plain-example/basic/target/
/app-layout-examples/app-layout-plain-example/spring-cdi/target/
/app-layout-examples/app-layout-plain-example/without-navigator/target/
/app-layout-addon/src/main/resources/sass/app-layout/app-layout/sass_cache/
!/app-layout-addon/src/main/webapp/addon/com/github/appreciated/app-layout.css
/app-layout-addon/src/main/resources/sass/app-layout/sass_cache/
!/app-layout-demo/src/main/webapp/addon/com/github/appreciated/app-layout/app-layout.css
!/app-layout-addon/src/main/resources/META-INF/resources/frontend/com/github/appreciated/app-layout/app-layout.css
/app-layout-ui-tests/build/
/app-layout-ui-tests/selenium/
