@media only screen and (min-width: 640px) {
    app-layout-left-hybrid.small #menu-header-title, app-layout-left-hybrid.small #menu-header-subtitle {
        opacity: 0;
        max-height: 0px;
        margin-top: 0px;
    }

    app-layout-left-hybrid #menu-header-title, app-layout-left-hybrid #menu-header-subtitle {
        opacity: 1.0;
        transition: opacity 0.2s, max-height 0.5s, margin-top 0.5s;
        max-height: 50px;
    }

    app-layout-left-hybrid #menu-header-wrapper {
        transition: padding 0.5s;
    }

    app-layout-left-hybrid.small #menu-header-wrapper {
        --app-layout-menu-header-padding: 0 4px;
    }
}