@mixin app-layout-notification {
  .app-layout-notification-window {
    .v-margin-left {
      padding-left: 10px !important;
    }
    .v-margin-bottom {
      padding-bottom: 10px !important;
    }
    .v-margin-right {
      padding-right: 10px !important;
    }
    .v-margin-top {
      padding-top: 10px !important;
    }
  }
  .v-window .v-window-outerheader:after {
    border-top: 1px solid transparent;
  }
  .v-window-contents > .v-scrollable:before {
    border-top: 1px solid transparent !important;
  }
  .v-window.translucent {
    background-color: transparent;
    box-shadow: none;
    overflow: visible !important;
    * :not(.app-layout-notification):not(.v-panel-content) {
      background-color: transparent !important;
      overflow: visible !important;
    }
    .app-layout-notification {
      //animation: valo-animate-in-slide-left 0.6s ease, valo-animate-in-fade 1s;
      transition: border 0.3s ease;
      box-shadow: 0px 5px 11px -1px rgba(0, 0, 0, 0.4);
      border-radius: 3px;
      .app-layout-notification-time {
        position: relative;
        font-size: 12px;
        line-height: 24px;
        margin-left: 4px;
        &::before {
          content: "\2022";
          font-size: 17px;
          line-height: 24px;
          left: -11px;
          color: $v-focus-color;
          position: absolute;
        }
      }
      .app-layout-notification-title {
        font-weight: 500;
        color: $v-focus-color;
      }
      .app-layout-notification-subtitle {
        font-size: 14px;
        text-overflow: ellipsis;
        overflow: hidden !important;
        white-space: nowrap;
      }
      &.app-layout-notification-priority-high {
        background: $v-focus-color !important;
        &:not(.app-layout-notification-read) {
          border-left: 3px solid valo-font-color($v-focus-color, 1.0);
        }
        &.app-layout-notification-read {
          border-left: 3px solid transparent;
        }
        .app-layout-notification-subtitle {
          color: valo-font-color($v-focus-color, 0.8);
        }
        .app-layout-notification-title {
          font-weight: 500;
          color: valo-font-color($v-focus-color, 1.0);
        }
        .app-layout-notification-time {
          color: valo-font-color($v-focus-color, 0.7);
          &::before {
            color: valo-font-color($v-focus-color, 1.0);
          }
        }
      }
      &.app-layout-notification-priority-medium {
        background: rgb(255, 255, 255) !important;
        &:not(.app-layout-notification-read) {
          border-left: 3px solid $v-focus-color;
        }
        &.app-layout-notification-read {
          border-left: 3px solid transparent;
        }
        .app-layout-notification-subtitle {
          color: valo-font-color(rgb(255, 255, 255), 0.8);
        }
        .app-layout-notification-time {
          color: valo-font-color(rgb(255, 255, 255), 0.7);
        }
      }
      &.app-layout-notification-priority-low {
        background: rgb(245, 245, 245) !important;
        &:not(.app-layout-notification-read) {
          border-left: 3px solid valo-font-color(rgb(245, 245, 245), 0.2);
        }
        &.app-layout-notification-read {
          border-left: 3px solid transparent;
        }
        .app-layout-notification-subtitle {
          color: valo-font-color(rgb(245, 245, 245), 0.8);
        }
        .app-layout-notification-time {
          color: valo-font-color(rgb(245, 245, 245), 0.7);
        }
      }
    }
    .v-window.translucent .v-window-outerheader {
      border-bottom: none !important;
    }
    .v-window.translucent .v-window-contents {
      padding: 0px !important;
    }
    .v-window-contents {
      animation: valo-animate-in-fade 0.4s;
    }
  }
}