@mixin notification {
  .app-bar-notification-window {
    .v-margin-left {
      padding-left: 10px;
    }
    .v-margin-bottom {
      padding-bottom: 10px;
    }
    .v-margin-right {
      padding-right: 10px;
    }
    .v-margin-top {
      padding-top: 10px;
    }
  }
  .v-window .v-window-outerheader:after {
    border-top: 1px solid transparent;
  }
  .v-window-contents > .v-scrollable:before {
    border-top: 1px solid transparent;
  }
  .v-window.translucent {
    background-color: transparent;
    box-shadow: none;
    padding: 10px;
    overflow: visible !important;
    * :not(.app-bar-notification):not(.v-panel-content) {
      background-color: transparent !important;
      overflow: visible !important;
    }
    .app-bar-notification {
      background: white !important;
      box-shadow: 0px 4px 5px -1px rgba(0, 0, 0, 0.3);
      border-radius: 3px;
    }
    .v-window-contents {
      animation: valo-animate-in-fade 0.4s;
    }
  }
}