@media only screen and (min-width: 641px) {
  .app-layout-behaviour-top-large {
    --app-bar-height: $app-bar-height * 2 !important;
    app-toolbar paper-icon-button#toggle {
      opacity: 0;
      pointer-events: none;
    }
    .app-bar-content {
      left: 10px !important;
    }
    .app-bar-menu-content {
      left: $app-bar-height;
      position: absolute;
      top: $app-bar-height !important;
      right: 0px;
      bottom: 0px;
    }
    app-drawer {
      display: none;
    }
    .app-bar-menu-content {
      opacity: 1 !important;
      pointer-events: auto !important;
    }
  }
}

@mixin app-layout-behaviour-top-large {
  .app-layout-behaviour-top-large {
    --app-drawer-width: $drawer-width;
    --app-bar-height: $app-bar-height;
    .app-bar-content {
      left: $app-bar-height;
      position: absolute;
      top: 0px;
      right: 0px;
      height: $app-bar-height;
      transition: left 0.3s;
    }

    app-toolbar paper-icon-button {
      transition: opacity 0.3s;
      opacity: 1.0;
      position: absolute;
      top: 0px;
    }
    .app-bar-menu-content {
      opacity: 0;
      pointer-events: none;
      transition: opacity 0.3s ease;
    }
    app-toolbar {
      background-color: $app-bar-background-color;
      color: $app-bar-font-color;
      position: relative;
      z-index: $z-index + 1;
      box-shadow: $app-bar-shadow;
      .v-button {
        color: $app-bar-font-color !important;
      }
      padding: 0px;
      transition: height 0.3s ease;
    }
    app-drawer {
      --app-drawer-scrim-background: rgba(0, 0, 100, 0.0);
    }
    app-drawer[opened] {
      z-index: $z-index;
    }
    .drawer-content {
      margin-top: $app-bar-height;
      height: calc(100% - #{$app-bar-height});
      overflow: visible;
      box-shadow: $drawer-shadow;
      background: $drawer-background-color;
      color: $drawer-font-color !important;
    }
  }
}