@mixin app-layout-behaviour-left-overlay {
  .app-layout-behaviour-left-overlay {
    --app-drawer-width: --app-layout-drawer-width;
    --app-bar-height: --app-layout-bar-height;
    .app-bar-content {
      left: var(--app-layout-bar-height);
      position: absolute;
      top: 0px;
      right: 0px;
      bottom: 0px;
    }
    app-toolbar {
      background-color: var(--app-layout-bar-background-color);
      color: var(--app-layout-bar-font-color);
      box-shadow: var(--app-layout-bar-shadow);
      .v-button {
        color: var(--app-layout-bar-font-color) !important;
      }
      padding: 0px;
    }
    app-drawer[opened] {
      z-index: var(--app-layout-bar-z-index);
    }
    .drawer-content {
      box-shadow: var(--app-layout-drawer-shadow);
      height: 100%;
      margin-top: 0px !important;
      overflow: visible;
      background: var(--app-layout-drawer-background-color);
      color: var(--app-layout-drawer-font-color) !important;
    }
  }
}