/*
Note that you need to import the css file using the @CssImport annotation (NOT the @StyleSheets).
 Also sure the right AppLayout TAG for the "themeFor" parameter is being used
 (f.e. when using LeftLayouts.LeftHybrid -> LeftLayouts.LeftHybrid.TAG)
*/

[part="app-bar"] {
    border: 1px solid green;
    background: cyan;
}

/* Since Top behaviors do not have a drawer this will have no effect on top behaviors*/
[part="drawer"] {
    --app-drawer-content-container_-_background-color: transparent !important;
    border: 1px solid green;
    background: cyan;
}

[part="application-content"] {
    border: 1px solid green;
    background: cyan;
}