@mixin left-navigation-drawer-responsive-overlay-no-app-bar {
  .left-navigation-drawer-responsive-overlay-no-app-bar {
    .app-bar-content {
      left: 64px;
      position: absolute;
      top: 0px;
      right: 0px;
    }
    app-drawer[persistent] + app-toolbar {
      display: none;
    }
    app-toolbar {
      background-color: $app-bar-background-color;
      color: $app-bar-font-color;
      box-shadow: $app-bar-shadow;
      .v-button {
        color: $app-bar-font-color !important;
      }
      padding-right: 0px;
    }
    .drawer-content {
      box-shadow: $drawer-shadow;
      height: 100%;
      background: $drawer-background-color;
      color: $drawer-font-color !important;
    }
    app-drawer[persistent] .drawer-content {
      box-shadow: $persistent-drawer-shadow;
    }
    app-drawer[opened] {
      z-index: $z-index;
    }
  }
}