@mixin left-navigation-drawer-responsive-small {
  .left-navigation-drawer-responsive-small {
    --app-drawer-width: 64px;
    .app-bar-content {
      left: 64px;
      position: absolute;
      top: 0px;
      right: 0px;
    }
    app-drawer[persistent] .app-layout-menu-button {
      height: 64px;
      font-size: 20px;
      .v-icon {
        width: 100%;
        text-align: center;
      }
      .v-button-caption {
        display: none;
      }
    }
    app-drawer[persistent] + app-toolbar paper-icon-button {
      display: none;
    }
    app-toolbar {
      background-color: $app-bar-background-color;
      color: $app-bar-font-color;
      box-shadow: $app-bar-shadow;
      .v-button {
        color: $app-bar-font-color !important;
      }
      padding-right: 0px;
      z-index: $z-index + 1;
    }
    .drawer-content {
      margin-top: 64px;
      height: calc(100% - 64px);
      box-shadow: $drawer-shadow;
      background: $drawer-background-color;
      color: $drawer-font-color !important;
    }
    app-drawer[persistent] .drawer-content {
      box-shadow: $persistent-drawer-shadow;
    }
    app-drawer[opened] {
      z-index: $z-index;
    }
  }
}