@mixin left-navigation-drawer {
  .left-navigation-drawer {
    --app-drawer-width: $drawer-width;
    --app-bar-height: $app-bar-height;
    .app-bar-content {
      left: $app-bar-height;
      position: absolute;
      top: 0px;
      right: 0px;
      bottom: 0px;
    }
    app-toolbar {
      background-color: $app-bar-background-color;
      color: $app-bar-font-color;
      position: relative;
      z-index: $z-index + 1;
      box-shadow: $app-bar-shadow;
      .v-button {
        color: $app-bar-font-color !important;
      }
      padding-right: 0px;
    }
    app-drawer {
      --app-drawer-scrim-background: rgba(0, 0, 100, 0.0);
    }
    app-drawer[opened] {
      z-index: $z-index;
    }
    .drawer-content {
      margin-top: $app-bar-height;
      height: calc(100% - $app-bar-height);
      overflow: auto;
      box-shadow: $drawer-shadow;
      background: $drawer-background-color;
      color: $drawer-font-color !important;
    }
  }
}