@mixin left-navigation-drawer-responsive-small-no-app-bar {
  .left-navigation-drawer-responsive-small-no-app-bar {
    --app-drawer-width: $small-drawer-width;
    --app-bar-height: $app-bar-height;

    .app-bar-application-content {
      height: 100vh;
    }

    .app-bar-content {
      left: $app-bar-height;
      position: absolute;
      top: 0px;
      right: 0px;
      bottom: 0px;
    }
    app-drawer[persistent] + app-toolbar {
      display: none;
    }

    app-drawer[persistent] .app-layout-menu-button {
      height: $app-bar-height;
      font-size: 20px;
      .v-icon {
        width: 100%;
        text-align: center;
      }
      .v-button-caption {
        display: none;
      }
    }

    app-drawer[persistent] .app-layout-menu-button-badge {
      background: $app-menu-button-badge-background-color;
      color: transparent;
      height: 5px;
      width: 5px;
      margin: 11px;
      border-radius: 100%;
      padding: 0;
    }

    app-toolbar {
      background-color: $app-bar-background-color;
      color: $app-bar-font-color;
      box-shadow: $app-bar-shadow;
      .v-button {
        color: $app-bar-font-color !important;
      }
      padding: 0px;
    }
    .drawer-content {
      box-shadow: $drawer-shadow;
      height: 100%;
      overflow: visible;
      background: $drawer-background-color;
      color: $drawer-font-color !important;
      width: $drawer-width;
    }
    app-drawer[persistent] .drawer-content {
      box-shadow: $persistent-drawer-shadow;
      width: $small-drawer-width;
    }
    app-drawer[opened] {
      z-index: $z-index;
    }
  }
}