@mixin left-navigation-drawer-overlay {
  .left-navigation-drawer-overlay {
    app-toolbar {
      background-color: $app-bar-background-color;
      color: $app-bar-font-color;
      box-shadow: $app-bar-shadow;
      .v-button {
        color: $app-bar-font-color !important;
      }
      padding-right: 0px;
    }
    app-drawer[opened] {
        z-index: $z-index;
    }
    .drawer-content {
      box-shadow: $drawer-shadow;
      height: 100%;
      background: $drawer-background-color;
      color: $drawer-font-color !important;
    }
  }
}