@mixin left-navigation-drawer-responsive-overlay {
  .left-navigation-drawer-responsive-overlay {
    --app-drawer-width: $drawer-width;
    --app-bar-height: $app-bar-height;

    app-drawer[persistent] + app-toolbar paper-icon-button {
      display: none;
    }
    app-drawer + app-toolbar .app-bar-content {
      left: $app-bar-height;
      position: absolute;
      top: 0px;
      right: 0px;
      bottom: 0px;
    }
    app-drawer[persistent] + app-toolbar .app-bar-content {
      left: 16px;
      position: absolute;
      top: 0px;
      right: 0px;
    }
    app-toolbar {
      background-color: $app-bar-background-color;
      color: $app-bar-font-color;
      box-shadow: $app-bar-shadow;
      .v-button {
        color: $app-bar-font-color !important;
      }
      padding-right: 0px;
    }
    .drawer-content {
      box-shadow: $drawer-shadow;
      height: 100%;
      background: $drawer-background-color;
      color: $drawer-font-color !important;
    }
    app-drawer[persistent] .drawer-content {
      box-shadow: none;
    }
    app-drawer[persistent] .drawer-content:after {
      position: absolute;
      box-shadow: $persistent-drawer-shadow;
      content: "";
      top: 0px;
      bottom: 0px;
      right: 0px;
      left: 0px;
      pointer-events: none;
    }
    app-drawer[opened] {
      z-index: $z-index;
    }
  }
}