/* This file is automatically managed and will be overwritten from time to time. */
/* Do not manually edit this file. */
/* Provided by app-layout-addon-0.9.21.jar */
@import "../../../VAADIN/addons/app-layout/app-layout.scss";


/* Import and include this mixin into your project theme to include the addon themes */
@mixin addons {
  @include app-layout;
}

