// Fix for https://github.com/appreciated/vaadin-app-layout/issues/40
@if not variable-exists(v-background-color) {
  $v-background-color: #fafafa !default;
}

$al-bar-height: 64px !default;
$al-bar-background-color: #4285f4 !default;
$al-bar-font-color: valo-font-color($al-bar-background-color) !default;
$al-bar-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5) !default;
$al-bar-z-index: 10 !default;

$al-drawer-shadow: 2px 2px 20px rgba(0, 0, 0, 0.3) !default;
$al-drawer-background-color: lighten($v-background-color, 5%) !default;
$al-drawer-submenu-background-color: rgba(valo-font-color($al-drawer-background-color), 0.05) !default;
$al-drawer-font-color: valo-font-color($al-drawer-background-color) !default;
$al-drawer-persistent-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.15) !default;
$al-drawer-width: 256px !default;
$al-drawer-small-width: 64px !default;
$al-drawer-hybrid-small-responsive-width: 1024px !default;

$al-menu-button-active-background-color: rgba(valo-font-color($al-drawer-background-color), 0.1) !default; // only used by material design
$al-menu-button-active-font-color: $v-focus-color; // only used by material design
$al-menu-button-badge-background-color: $v-focus-color;
$al-menu-button-badge-font-color: valo-font-color($v-focus-color, 1.0);
$al-menu-button-badge-border-radius: 5px;
$al-menu-disable-active-style: false !default;
$al-menu-submenu-max-height: 999px !default;

@mixin application-content($margin-top, $margin-left) {
  margin-bottom: -$margin-top;
  padding-bottom: $margin-top;
  margin-right: -$margin-left;
  padding-right: $margin-left;
}

@mixin media-application-content($margin-top, $margin-left) {
  margin-bottom: -$margin-top !important;
  padding-bottom: $margin-top !important;
  margin-right: -$margin-left !important;
  padding-right: $margin-left !important;
}

@mixin media-application-content-top($margin-top) {
  margin-bottom: -$margin-top !important;
  padding-bottom: $margin-top !important;
}

@import "designs/app-layout-default-design.scss";
@import "designs/app-layout-material-design.scss";
@import "designs/app-layout-custom-design.scss";

@import "components/app-layout-notification.scss";
@import "components/app-layout-flexbox.scss";
@import "components/app-layout-expanding-menu-container.scss";

@import "behaviour/left/app-layout-behaviour-left";
@import "behaviour/left/app-layout-behaviour-left-overlay";
@import "behaviour/left/app-layout-behaviour-left-responsive";
@import "behaviour/left/app-layout-behaviour-left-hybrid";
@import "behaviour/left/app-layout-behaviour-left-responsive-hybrid";
@import "behaviour/left/app-layout-behaviour-left-responsive-hybrid-no-app-bar";
@import "behaviour/left/app-layout-behaviour-left-responsive-hybrid-overlay-no-app-bar";
@import "behaviour/left/app-layout-behaviour-left-responsive-overlay";
@import "behaviour/left/app-layout-behaviour-left-responsive-overlay-no-app-bar";
@import "behaviour/left/app-layout-behaviour-left-responsive-small";
@import "behaviour/left/app-layout-behaviour-left-responsive-small-no-app-bar";

@import "behaviour/top/app-layout-behaviour-top";
@import "behaviour/top/app-layout-behaviour-top-large";

@mixin app-layout {
  $calc-app-bar-height: $al-bar-height - 20px;
  @if ($calc-app-bar-height > 0px) {
    paper-icon-button {
      width: $al-bar-height - 20px; // margin * 2
      height: $al-bar-height - 20px; // margin * 2
      margin: 10px;
      padding: 6px;
    }
  } @else {
    app-toolbar {
      display: none;
    }
  }
  .app-layout {

  }
  .app-bar-application-content {
    position: fixed;
    width: 100%;
    box-sizing: border-box;
    height: 100%;
    transition: margin 0.2s ease, padding 0.2s ease;
  }
  app-drawer[opened][persistent] + .app-bar-application-content, app-drawer[opened][persistent] + #contentContainer .app-bar-application-content {
    @include application-content(64px, 256px);
  }
  app-header-layout.small app-drawer[opened] + .app-bar-application-content, app-header-layout.small app-drawer[opened] + #contentContainer .app-bar-application-content {
    @include application-content(64px, 64px);
  }
  .app-bar-application-content {
    @include application-content(64px, 0px);
  }
  .app-layout-menu-bar-element {
    padding-left: 16px;
    padding-right: 16px;
  }
  .v-absolutelayout-wrapper-app-layout-menu-button-badge {
    pointer-events: none;
  }

  app-drawer:not([persistent]):not([opened]) .drawer-content * {
    overflow: hidden;
  }

  // fixes https://github.com/appreciated/vaadin-app-layout/issues/58 for v-grid
  .v-grid {
    .v-grid-scroller-horizontal {
      width: calc(100% - 17px) !important; // - 17px for the vertical scroller
      display: inherit !important;
    }
    .v-grid-scroller-vertical {
      display: inherit !important;
    }
    .v-grid-tablewrapper {
      width: calc(100% - 17px) !important; // - 17px for the vertical scroller
    }
    .v-grid-header-deco {
      display: inherit !important;
    }
  }

  @include app-layout-default-design;
  @include app-layout-material-design;
  @include app-layout-custom-design;
  @include app-layout-notification;
  @include app-layout-expanding-menu-container;
  @include app-layout-flexbox;

  @include app-layout-behaviour-left;
  @include app-layout-behaviour-left-hybrid;
  @include app-layout-behaviour-left-responsive-hybrid;
  @include app-layout-behaviour-left-responsive-hybrid-no-app-bar;
  @include app-layout-behaviour-left-responsive-hybrid-overlay-no-app-bar;
  @include app-layout-behaviour-left-overlay;
  @include app-layout-behaviour-left-responsive;
  @include app-layout-behaviour-left-responsive-overlay;
  @include app-layout-behaviour-left-responsive-overlay-no-app-bar;
  @include app-layout-behaviour-left-responsive-small;
  @include app-layout-behaviour-left-responsive-small-no-app-bar;

  @include app-layout-behaviour-top;
  @include app-layout-behaviour-top-large;
}