html {
    --material-size-xs: 1.625rem;
    --material-size-s: 1.875rem;
    --material-size-m: 2.25rem;
    --material-size-l: 2.75rem;
    --material-size-xl: 3.5rem;
    --app-layout-primary-color: var(--material-primary-color);
    --app-layout-background: var(--primary-background-color);
    --app-layout-font-size-header: var(--material-font-size-m);
    --app-layout-font-size-menu: var(--material-font-size-m);
    --app-layout-font-size-notifications: var(--material-font-size-m);
    --app-layout-font-size-app-bar: var(--material-font-size-m);
    --app-layout-bar-height: calc(var(--material-size-s) * 2.1);
    --app-layout-bar-background-base-color: var(--primary-background-color);
    --app-layout-bar-background-color: var(--primary-background-color);
    --app-layout-bar-font-color: var(--material-contrast-70pct);
    --app-layout-bar-shadow: var(--shadow-elevation-2dp_-_box-shadow);
    --app-layout-bar-z-index: 10;
    --app-layout-drawer-shadow: var(--shadow-elevation-2dp_-_box-shadow);
    --app-layout-drawer-background-base-color: var(--primary-background-color);
    --app-layout-drawer-background-color: var(--primary-background-color);
    --app-layout-drawer-submenu-background-color: var(--material-contrast-10pct);
    --app-layout-drawer-font-color: var(--material-contrast-90pct);
    --app-layout-drawer-width: calc(var(--material-size-xl) * 4.6);
    --app-layout-drawer-small-width: calc(var(--app-layout-bar-height) - 1px);
    --app-layout-menu-button-height: calc(var(--material-size-s) * 1.6);
    --app-layout-menu-button-padding: 0 14px;
    --app-layout-menu-button-margin: 0;
    --app-layout-menu-padding: 5px;
    --app-layout-menu-button-border-radius: var(--material-border-radius);
    --app-layout-menu-submenu-max-height: 999px;
    --app-layout-app-selected-bg-color: var(--material-primary-color-10pct);
    --app-layout-app-color: var(--material-secondary-text-color);
    --app-layout-badge-width: calc(var(--material-size-s) * 0.8);
    --app-layout-badge-height: calc(var(--material-size-s) * 0.8);
    --app-layout-badge-top: 0px;
    --app-layout-badge-right: 0px;
    --app-layout-badge-color: var(--app-layout-bar-font-color);
    --app-layout-badge-small-width: 5px;
    --app-layout-badge-small-height: 5px;
    --app-layout-badge-small-top: -12px;
    --app-layout-badge-small-right: -4px;
    --app-layout-badge-background: var(--material-primary-color);
    --app-layout-badge-font-color: var(--material-primary-contrast-color);
    --app-layout-notification-highlight-color: var(--app-layout-primary-color);
    --app-layout-notification-font-color: var(--material-body-text-color);
    --app-layout-notification-background-base-color: var(--primary-background-color);
    --app-layout-notification-background-color: var(--primary-background-color);
    --app-layout-notification-shadow: var(--shadow-elevation-2dp_-_box-shadow);
    /* Variables of webcomponents */
    --paper-drawer-title-background-color: var(--primary-background-color);
    --paper-drawer-title-color: var(--material-body-text-color);
    --paper-icon-button-ink-color: var(--material-contrast);
    --app-drawer-width: var(--app-layout-drawer-width);
    /* -webkit-tap-highlight-color: transparent; */
    --paper-tabs-selection-bar-color: var(--material-primary-color);
    --paper-tab-ink: var(--material-primary-color);
    --app-bar-height: var(--app-layout-bar-height);
    --app-menu-background-color: transparent;
    --app-menu-selected-bg-color: var(--app-layout-app-selected-bg-color);
    --app-menu-color: var(--app-layout-drawer-font-color);
}

/*
[theme~="dark"] {
    --app-layout-bar-background-color: var(--material-contrast-10pct);
    --app-layout-bar-font-color: var(--material-contrast-90);
    --app-layout-drawer-background-color: var(--material-contrast-5pct);
    --app-layout-notification-background-color: var(--material-contrast-10pct);
}
*/
