@mixin app-layout-default-design {
  .app-layout-default-design {
    .app-layout-menu-button-badge {
      padding: 0 10px;
      background: $al-menu-button-badge-background-color;
      color: $al-menu-button-badge-font-color;
      font-size: 13px;
      height: 20px;
      line-height: 20px;
      margin: 15px 5px;
      margin-left: -50px;
      text-align: center;
      border-radius: 10px;
    }
    .v-absolutelayout-wrapper-app-bar-badge {
      pointer-events: none;
    }
    .app-bar-badge {
      background: $al-menu-button-badge-background-color;
      color: valo-font-color($al-menu-button-badge-background-color);
      font-size: 11px;
      min-width: 18px;
      min-height: 18px;
      text-align: center;
      line-height: 18px;
      margin: 7px;
      padding-right: 4px;
      padding-left: 3px;
      border-radius: 17px;
    }
    .app-layout-menu-button {
      text-align: left !important;
      .v-icon + .v-captiontext, .v-icon + span {
        margin-left: 16px;
      }
      transition: background 0.3s ease, color 0.3s ease;
      border-radius: 0px;
      transition: border 0.5s;
      padding: 0px $al-menu-button-horizontal-padding;
      height: $al-menu-button-height !important;
    }
    .app-layout-menu-badge-button {
      padding-right: 55px;
    }
    @if $al-menu-disable-active-style == false {
      .app-layout-menu-element {
        border-left: 5px transparent solid !important;
        position: relative;
        transition: border 0.3s;
        position: relative;
        &:after {
          position: absolute;
          margin-left: -5px;
          content: "";
          left: 0px;
          top: 0px !important;
          bottom: 0px !important;
          width: 5px;
          box-shadow: 0px 0px 20px 4px rgba($v-focus-color, 0.0);
          transition: box-shadow 0.3s;
          overflow: visible;
        }
      }
      .app-layout-menu-element-active {
        color: $v-focus-color !important;
        border-left: 5px $v-focus-color solid !important;
      }
      .app-layout-menu-element-active:after {
        box-shadow: 0px 0px 20px 4px rgba($v-focus-color, 0.3);
      }
      .app-layout-menu-button:after {
        box-shadow: none !important;
        border-left: none;
      }
      &.app-layout-behaviour-top .app-layout-menu-element-active, &.app-layout-behaviour-top-large .app-layout-menu-element-active {
        border-bottom: 2px solid $al-bar-font-color;
      }
      &.app-layout-behaviour-top .app-layout-menu-element-active .app-layout-menu-button, &.app-layout-behaviour-top-large .app-layout-menu-element-active .app-layout-menu-button {
        background: rgba(70, 70, 70, 0) !important;
        color: $al-bar-font-color !important;
      }
    }
    .app-layout-round-image {
      border-radius: 100%;
    }
    .app-layout-menu-bar-element {
      padding-left: 21px;
    }
  }
}