@mixin material {
  .material-app-bar-design {
    .app-layout-menu-button-badge {
      padding: 0 7px;
      background: $app-menu-button-badge-background-color;
      color: $app-menu-button-badge-font-color;
      height: 24px;
      line-height: 24px;
      margin: 13px;
      text-align: center;
      border-radius: $app-menu-button-badge-border-radius;
    }
    .app-bar-badge {
      background: $app-menu-button-badge-background-color;
      color: transparent;
      height: 5px;
      width: 5px;
      margin: 11px;
      border-radius: 100%;
      padding: 0;
    }
    @if $disable-active-style == false {
      .app-layout-menu-button-active {
        background: $app-menu-button-active-background-color !important;
        color: $app-menu-button-active-font-color !important;
      }
    }
    .app-layout-menu-button {
      text-align: left !important;
      .v-icon + .v-captiontext, .v-icon + span {
        margin-left: 16px;
      }
      transition: background 0.3s ease, color 0.3s ease;
      border-radius: 0px;
    }
  }
}