<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="design-properties"
          content="{&quot;RULERS_VISIBLE&quot;:true,&quot;GUIDELINES_VISIBLE&quot;:false,&quot;SNAP_TO_OBJECTS&quot;:true,&quot;SNAP_TO_GRID&quot;:true,&quot;SNAPPING_DISTANCE&quot;:10,&quot;GENERATE_GETTERS&quot;:false,&quot;JAVA_SOURCES_ROOT&quot;:&quot;src/main/java&quot;,&quot;THEME&quot;:&quot;valo&quot;}">
    <meta name="vaadin-version" content="8.0.5">
</head>
<body>
<vaadin-vertical-layout size-full>
    <vaadin-absolute-layout size-auto>
        <vaadin7-text-field></vaadin7-text-field>
        <vaadin-label plain-text>
            Label
        </vaadin-label>
    </vaadin-absolute-layout>
</vaadin-vertical-layout>
</body>
</html>