@mixin app-layout-behaviour-left-overlay {
  .app-layout-behaviour-left-overlay {
    --app-drawer-width: $al-drawer-width;
    --app-bar-height: $al-bar-height;
    .app-bar-content {
      left: $al-bar-height;
      position: absolute;
      top: 0px;
      right: 0px;
      bottom: 0px;
    }
    app-toolbar {
      background-color: $al-bar-background-color;
      color: $al-bar-font-color;
      box-shadow: $al-bar-shadow;
      .v-button {
        color: $al-bar-font-color !important;
      }
      padding: 0px;
    }
    app-drawer[opened] {
      z-index: $al-bar-z-index;
    }
    .drawer-content {
      box-shadow: $al-drawer-shadow;
      height: 100%;
      margin-top: 0px !important;
      overflow: visible;
      background: $al-drawer-background-color;
      color: $al-drawer-font-color !important;
      width: $al-drawer-width;
    }
    .app-drawer-1 .app-drawer#scrim {
      background: transparent !important;
    }
  }
}