@media only screen and (max-width: 640px) {
  .app-layout-behaviour-left-responsive-overlay {
    .drawer-content {
      margin-top: 0px !important;
    }
  }
}

@media only screen and (min-width: 641px) {
  .app-layout-behaviour-left-responsive-overlay {
    .app-bar-application-content {
      @include media-application-content ($al-bar-height, $al-drawer-width);
    }
  }
}

@mixin app-layout-behaviour-left-responsive-overlay {
  .app-layout-behaviour-left-responsive-overlay {
    --app-drawer-width: $al-drawer-width;
    --app-bar-height: $al-bar-height;

    app-drawer[persistent] + app-toolbar paper-icon-button, app-drawer[persistent] + #contentContainer app-toolbar paper-icon-button {
      display: none;
    }
    app-drawer + app-toolbar .app-bar-content, app-drawer + #contentContainer app-toolbar .app-bar-content {
      left: $al-bar-height;
      position: absolute;
      top: 0px;
      right: 0px;
      bottom: 0px;
    }
    app-drawer[persistent] + app-toolbar .app-bar-content, app-drawer[persistent] + #contentContainer app-toolbar .app-bar-content {
      left: 16px;
      position: absolute;
      top: 0px;
      right: 0px;
    }
    app-toolbar {
      background-color: $al-bar-background-color;
      color: $al-bar-font-color;
      box-shadow: $al-bar-shadow;
      .v-button {
        color: $al-bar-font-color !important;
      }
      padding: 0px;
    }
    .drawer-content {
      box-shadow: $al-drawer-shadow;
      height: 100%;
      overflow: visible;
      background: $al-drawer-background-color;
      color: $al-drawer-font-color !important;
    }
    app-drawer[persistent] .drawer-content {
      box-shadow: none;
    }
    app-drawer[persistent] .drawer-content:after {
      position: absolute;
      box-shadow: $al-drawer-persistent-shadow;
      content: "";
      top: 0px;
      bottom: 0px;
      right: 0px;
      left: 0px;
      pointer-events: none;
    }
    app-drawer[opened] {
      z-index: $al-bar-z-index;
    }
  }
}