@mixin app-layout-behaviour-left-responsive {
  .app-layout-behaviour-left-responsive {
    --app-drawer-width: $drawer-width;
    --app-bar-height: $app-bar-height;
    .app-bar-content {
      left: $app-bar-height;
      position: absolute;
      top: 0px;
      right: 0px;
      bottom: 0px;
    }
    app-header app-toolbar {
      background-color: $app-bar-background-color;
      color: $app-bar-font-color;
      box-shadow: $app-bar-shadow;
      position: relative;
      z-index: $z-index + 1;
      .v-button {
        color: $app-bar-font-color !important;
      }
      padding: 0px;
    }

    app-header paper-icon-button {
      --paper-icon-button-ink-color: #fff;
    }

    app-drawer-layout {
      --app-drawer-layout-content-transition: margin 0.2s;
    }
    app-drawer[opened] {
      z-index: $z-index;
    }
    app-drawer {
      --app-drawer-content-container: {
        background-color: #eee;
      }
      --app-drawer-scrim-background: rgba(0, 0, 100, 0.0);
    }
    .drawer-content {
      margin-top: $app-bar-height;
      box-sizing: border-box;
      height: 100%;
      margin-bottom: -$app-bar-height;
      padding-bottom: $app-bar-height;
      overflow: visible;
      box-shadow: $drawer-shadow;
      background: $drawer-background-color;
      color: $drawer-font-color !important;
    }
    app-drawer[persistent] .drawer-content {
      box-shadow: none;
    }
    app-drawer[persistent] .drawer-content:after {
      position: absolute;
      box-shadow: $persistent-drawer-shadow;
      content: "";
      top: 0px;
      bottom: 0px;
      right: 0px;
      left: 0px;
      pointer-events: none;
    }
  }
}