@mixin app-layout-behaviour-left-responsive {
  .app-layout-behaviour-left-responsive {
    --app-drawer-width: $al-drawer-width;
    --app-bar-height: $al-bar-height;
    .app-bar-content {
      left: $al-bar-height;
      position: absolute;
      top: 0px;
      right: 0px;
      bottom: 0px;
    }
    app-header app-toolbar {
      background-color: $al-bar-background-color;
      color: $al-bar-font-color;
      box-shadow: $al-bar-shadow;
      position: relative;
      z-index: $al-bar-z-index + 1;
      .v-button {
        color: $al-bar-font-color !important;
      }
      padding: 0px;
    }

    app-header paper-icon-button {
      --paper-icon-button-ink-color: #fff;
    }

    app-drawer-layout {
      --app-drawer-layout-content-transition: margin 0.2s;
    }
    app-drawer[opened] {
      z-index: $al-bar-z-index;
    }
    app-drawer {
      --app-drawer-content-container: {
        background-color: #eee;
      }
      --app-drawer-scrim-background: rgba(0, 0, 100, 0.0);
    }
    .drawer-content {
      margin-top: $al-bar-height;
      box-sizing: border-box;
      height: 100%;
      margin-bottom: -$al-bar-height;
      padding-bottom: $al-bar-height;
      overflow: visible;
      box-shadow: $al-drawer-shadow;
      background: $al-drawer-background-color;
      color: $al-drawer-font-color !important;
    }
    app-drawer[persistent] .drawer-content {
      box-shadow: none;
    }
    app-drawer[persistent] .drawer-content:after {
      position: absolute;
      box-shadow: $al-drawer-persistent-shadow;
      content: "";
      top: 0px;
      bottom: 0px;
      right: 0px;
      left: 0px;
      pointer-events: none;
    }
    .app-drawer-1 .app-drawer#scrim {
      background: transparent !important;
    }
  }
}