@media only screen and (min-width: 641px) {
  .app-layout-behaviour-left-responsive-hybrid {
    app-header app-toolbar paper-icon-button#toggle, app-header-layout app-toolbar paper-icon-button#toggle {
      display: none;
    }
    .app-bar-content {
      left: 10px !important;
    }
  }
}

@media only screen and (min-width: 641px) and (max-width: 1024px) {
  .app-layout-behaviour-left-responsive-hybrid {
    --app-drawer-width: $al-drawer-small-width !important;
    app-drawer[persistent].app-drawer-1 {
      width: $al-drawer-small-width !important;
    }
    .app-bar-application-content {
      left: $al-drawer-small-width !important;
    }
    .app-layout-menu-button-badge {
      background: $al-menu-button-badge-background-color;
      color: transparent !important;
      height: 5px !important;
      width: 5px;
      border-radius: 100% !important;
      padding: 0 !important;
    }
    .app-layout-menu-button span.v-button-caption {
      opacity: 0;
    }
    .app-layout-menu-bar-element {
      padding-left: 0px !important;
      padding-right: 0px !important;
      .app-layout-round-image {
        width: $al-drawer-small-width !important;
        height: $al-drawer-small-width !important;
        padding: 7px;
      }
      .app-layout-menu-header-title {
        display: none;
      }
      .app-layout-menu-header-title {
        display: none;
      }
    }
    .app-layout-menu-button {
      font-size: 20px;
      .v-icon {
        width: 100%;
        text-align: center;
      }
      .v-button-caption {
        display: none;
      }
    }
    .app-layout-expanding-menu-container-button:after {
      opacity: 0 !important;
    }
    .app-bar-application-content {
      @include media-application-content ($al-bar-height, $al-drawer-small-width);
    }
    .app-layout-submenu-container {
      padding-left: $al-drawer-submenu-small-indention !important;
    }
    .app-drawer-layout-1 app-drawer[opened] .drawer-content {
      width: $al-drawer-small-width !important;
    }
    .app-layout-menu-badge-button {
      padding: 0px 16px !important;
    }
    .app-layout-menu-button-badge {
      margin-left: -20px !important;
    }
  }
}

@mixin app-layout-behaviour-left-responsive-hybrid {
  .app-layout-behaviour-left-responsive-hybrid {
    --app-drawer-width: $al-drawer-width;
    --app-bar-height: $al-bar-height;

    .app-layout-menu-button span.v-button-caption, .app-layout-expanding-menu-container-button:after {
      opacity: 1;
      transition: opacity 0.3s;
    }
    .app-layout-round-image {
      transition: width 0.3s, height 0.3s;
    }
    .app-layout-menu-button {
      transition: font-size 0.3s;
    }
    .app-layout-menu-button-badge {
      transition: color 0.3s, height 0.2s, width 0.3s;
    }
    app-drawer[persistent] + app-toolbar, app-drawer[persistent] + #contentContainer app-toolbar {
      display: none;
    }
    .app-bar-content {
      left: $al-bar-height;
      position: absolute;
      top: 0px;
      right: 0px;
      bottom: 0px;
    }
    app-header app-toolbar {
      background-color: $al-bar-background-color;
      color: $al-bar-font-color;
      box-shadow: $al-bar-shadow;
      position: relative;
      z-index: $al-bar-z-index + 1;
      .v-button {
        color: $al-bar-font-color !important;
      }
      padding: 0px;
    }

    app-header paper-icon-button {
      --paper-icon-button-ink-color: #fff;
    }

    app-drawer-layout {
      --app-drawer-layout-content-transition: margin 0.2s;
    }
    app-drawer[opened] {
      z-index: $al-bar-z-index;
    }
    app-drawer {
      --app-drawer-content-container: {
        background-color: #eee;
      }
      transition: all 0.5s;
      --app-drawer-scrim-background: rgba(0, 0, 100, 0.0);
    }
    .drawer-content {
      margin-top: $al-bar-height;
      box-sizing: border-box;
      height: 100%;
      margin-bottom: -$al-bar-height;
      padding-bottom: $al-bar-height;
      overflow: visible;
      box-shadow: $al-drawer-shadow;
      background: $al-drawer-background-color;
      color: $al-drawer-font-color !important;
    }
    app-drawer[persistent] .drawer-content {
      box-shadow: none;
    }
    app-drawer[persistent] .drawer-content:after {
      position: absolute;
      box-shadow: $al-drawer-persistent-shadow;
      content: "";
      top: 0px;
      bottom: 0px;
      right: 0px;
      left: 0px;
      pointer-events: none;
    }
    .app-drawer-1 .app-drawer#scrim {
      background: transparent !important;
    }
  }
}