@mixin app-layout-behaviour-left {
  .app-layout-behaviour-left {
    --app-drawer-width: $al-drawer-width;
    --app-bar-height: $al-bar-height;
    .app-bar-content {
      left: $al-bar-height;
      position: absolute;
      top: 0px;
      right: 0px;
      bottom: 0px;
    }
    app-toolbar {
      background-color: $al-bar-background-color;
      color: $al-bar-font-color;
      position: relative;
      z-index: $al-bar-z-index + 1;
      box-shadow: $al-bar-shadow;
      .v-button {
        color: $al-bar-font-color !important;
      }
      padding: 0px;
    }
    app-drawer {
      --app-drawer-scrim-background: rgba(0, 0, 100, 0.0);
    }
    app-drawer[opened] {
      z-index: $al-bar-z-index;
    }
    .drawer-content {
      margin-top: $al-bar-height;
      box-sizing: border-box;
      height: 100%;
      margin-bottom: -$al-bar-height;
      padding-bottom: $al-bar-height;
      overflow: visible;
      box-shadow: $al-drawer-shadow;
      background: $al-drawer-background-color;
      color: $al-drawer-font-color !important;
    }
    .app-drawer-1 .app-drawer#scrim {
      background: transparent !important;
    }
  }
}