@media only screen and (max-width: 640px) {
  .app-layout-behaviour-left-responsive-overlay-no-app-bar {
    .app-bar-application-content {
      @include media-application-content($al-bar-height, 0px);
    }
  }
}

@media only screen and (min-width: 641px) {
  .app-layout-behaviour-left-responsive-overlay-no-app-bar {
    .app-bar-application-content {
      @include media-application-content (0px, $al-drawer-width);
    }
  }
}

@mixin app-layout-behaviour-left-responsive-overlay-no-app-bar {
  .app-layout-behaviour-left-responsive-overlay-no-app-bar {
    --app-drawer-width: $al-drawer-width;
    --app-bar-height: $al-bar-height;

    .app-bar-content {
      left: $al-bar-height;
      position: absolute;
      top: 0px;
      right: 0px;
      bottom: 0px;
    }
    app-drawer[persistent] + app-toolbar, app-drawer[persistent] + #contentContainer app-toolbar {
      display: none;
    }
    app-toolbar {
      background-color: $al-bar-background-color;
      color: $al-bar-font-color;
      box-shadow: $al-bar-shadow;
      .v-button {
        color: $al-bar-font-color !important;
      }
      padding: 0px;
    }
    .drawer-content {
      box-shadow: $al-drawer-shadow;
      height: 100%;
      overflow: visible;
      background: $al-drawer-background-color;
      color: $al-drawer-font-color !important;
    }
    app-drawer[persistent] .drawer-content {
      box-shadow: $al-drawer-persistent-shadow;
    }
    app-drawer[opened] {
      z-index: $al-bar-z-index;
    }
  }
}