@mixin app-layout-behaviour-left-responsive {
  &.app-layout-behaviour-left-responsive {
    --app-drawer-width: --app-layout-drawer-width;
    --app-bar-height: --app-layout-bar-height;
    .app-bar-content {
      left: var(--app-layout-bar-height);
      position: absolute;
      top: 0px;
      right: 0px;
      bottom: 0px;
    }
    app-header app-toolbar {
      background-color: var(--app-layout-bar-background-color);
      color: var(--app-layout-bar-font-color);
      box-shadow: var(--app-layout-bar-shadow);
      position: relative;
      z-index: calc(var(--app-layout-bar-z-index) + 1);
      .v-button {
        color: var(--app-layout-bar-font-color) !important;
      }
      padding: 0px;
    }

    app-header paper-icon-button {
      --paper-icon-button-ink-color: #fff;
    }

    app-drawer-layout {
      --app-drawer-layout-content-transition: margin 0.2s;
    }
    app-drawer[opened] {
      z-index: var(--app-layout-bar-z-index);
    }
    app-drawer {
      --app-drawer-content-container: {
        background-color: #eee;
      }
      --app-drawer-scrim-background: rgba(0, 0, 100, 0.0);
    }
    .drawer-content {
      margin-top: var(--app-layout-bar-height);
      box-sizing: border-box;
      height: 100%;
      margin-bottom: var(--app-layout-bar-height);
      padding-bottom: var(--app-layout-bar-height);
      overflow: visible;
      box-shadow: var(--app-layout-drawer-shadow);
      background: var(--app-layout-drawer-background-color);
      color: var(--app-layout-drawer-font-color) !important;
    }
    app-drawer[persistent] .drawer-content {
      box-shadow: none;
    }
    app-drawer[persistent] .drawer-content:after {
      position: absolute;
      box-shadow: var(--app-layout-drawer-persistent-shadow);
      content: "";
      top: 0px;
      bottom: 0px;
      right: 0px;
      left: 0px;
      pointer-events: none;
    }
  }
}