@mixin app-layout-behaviour-left {;
  &.app-layout-behaviour-left {
    paper-icon-button#toggle {
      width: calc(var(--app-layout-bar-height) - 16px);
      height: calc(var(--app-layout-bar-height) - 16px);
      margin: 8px;
    }
    --app-drawer-width: var(--app-layout-drawer-width);
    --app-bar-height: var(--app-layout-bar-height);
    app-drawer {
      --app-drawer-scrim-background: rgba(0, 0, 100, 0.0);
    }
    app-drawer[opened] {
      z-index: var(--app-layout-bar-z-index);
    }
  }
}